@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Rubik+Bubbles&display=swap');

.background {
    background-image: url('./assets/create.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   
}
.img {
  background-image: url('./assets/layered-waves-haikei-2.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 
}
.imgs {
  
    background-image: url('./assets/peach2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   
  }
  .image{
    background-image: url('./assets/peacgggg.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   

  }






